Repository gaianote/python-framework: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, pytest-cov

isort:
  name: isort
  stages:
  - commit
  language: system
  entry: pipenv run isort pwork test

black:
  name: black
  stages:
  - commit
  language: system
  entry: pipenv run black pwork test

flake8:
  name: flake8
  stages:
  - commit
  language: system
  entry: pipenv run flake8 pwork test

mypy:
  name: mypy
  stages:
  - commit
  language: system
  entry: pipenv run mypy pwork test
  pass_filenames: false

pytest-cov:
  name: pytest
  stages:
  - commit
  language: system
  entry: pipenv run pytest --cov --cov-fail-under=10
  pass_filenames: false

add pipenv config
  pyproject.toml
Due: none

add cookiecutter
  .DS_Store
  cookiecutter.json
  {{cookiecutter.project_name}}/.DS_Store
  {{cookiecutter.project_name}}/.coveragerc
  {{cookiecutter.project_name}}/.gitignore
  {{cookiecutter.project_name}}/.pre-commit-config.yaml
  {{cookiecutter.project_name}}/LICENSE
  {{cookiecutter.project_name}}/Pipfile
  {{cookiecutter.project_name}}/Pipfile.lock
  {{cookiecutter.project_name}}/README.md
  {{cookiecutter.project_name}}/pwork/__init__.py
  {{cookiecutter.project_name}}/pwork/__main__.py
  {{cookiecutter.project_name}}/pwork/app.py
  {{cookiecutter.project_name}}/pyproject.toml
  {{cookiecutter.project_name}}/setup.cfg
  {{cookiecutter.project_name}}/setup.py
  {{cookiecutter.project_name}}/test/test_main.py
Due: isort, black, flake8, mypy, pytest-cov

add cookiecutter
  .DS_Store
  .gitignore
  {{cookiecutter.project_name}}/.DS_Store
  {{cookiecutter.project_name}}/.gitignore
Due: none

add cookiecutter
  pwork/app.py
Due: isort, black, flake8, mypy, pytest-cov

add cookiecutter
  cookiecutter.json
  setup.py
  {{cookiecutter.project_name}}/setup.py
  {{cookiecutter.project_name}}/{{cookiecutter.project_name}}/__init__.py
  {{cookiecutter.project_name}}/{{cookiecutter.project_name}}/__main__.py
  {{cookiecutter.project_name}}/{{cookiecutter.project_name}}/app.py
Due: isort, black, flake8, mypy, pytest-cov

add cookiecutter
  pwork/app.py
  {{cookiecutter.project_name}}/setup.py
Due: isort, black, flake8, mypy, pytest-cov

add cookiecutter
  setup.py
  {{cookiecutter.project_name}}/setup.py
Due: isort, black, mypy, pytest-cov

fix cookiecutter template
  {{cookiecutter.project_name}}/.coveragerc
  {{cookiecutter.project_name}}/setup.py
Due: isort, black, mypy, pytest-cov

Update README.md
  README.md
Due: none

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$, but not: setup.py
  mypy: any of: \.py$
  pytest-cov: any of: \.py$
